<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.kalkulacka.recordalcohol</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Record alcohol</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>Drink</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.kalkulacka.recordcaffeine</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Record caffeine</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>Favorite</string>
		</dict>
	</array>
</dict>
</plist>
